<div class="container">
  <h1>List of Stylists</h1>
  <h3>Add a new stylist:</h3>
  <form class="" action="/stylists" method="post">
    <label for="name">Stylist name:</label>
    <input type="text" name="name" id="name">
    <button type="submit"">Add a Stylist</button>
  </form>
